#round-form {
    color: white;
    margin-bottom: 50px;
    background-color: teal;
    border-radius: 10px;
    text-align: center;
}


.choose-fighter {
    font-size: 2rem;
    background-color: teal;
    color: white;
    text-align: center;
    border-radius: 10px;
}

html {
    background-color: aquamarine;
}

.arena {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    background-color: rgb(234, 98, 98);
    margin-bottom: 30px;
    text-align: center;
    border-radius: 10px;
    
}

.arena-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
}

